<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="StoppelMap - Inoffizielle App für den Stoppelmarkt">
        <meta property="og:type" content="website">
        <meta property="og:title" content="StoppelMap">

        <meta property="og:description" content="Inoffizielle App für den Stoppelmarkt in Vechta">   
        <meta property="og:url" content="https://stoppelmap.de/">
        <meta property="og:image" content="https://stoppelmap.de/android-chrome-512x512.png">
        
        <link rel="apple-touch-icon" sizes="180x180" href="https://stoppelmap.de/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://stoppelmap.de/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://stoppelmap.de/favicon-16x16.png">
        <link rel="manifest" href="https://stoppelmap.de/site.webmanifest">

        <title>StoppelMap - Inoffizielle App für den Stoppelmarkt</title>

        <link rel="stylesheet" href="https://stoppelmap.de/style.css">
    </head>
    <body>
        <header>
            <img src="https://stoppelmap.de/assets/icon.svg" id="logo" alt="Logo von StoppelMap"/>
            <h1>StoppelMap</h1>
            <span>Inoffizielle App für den Stoppelmarkt in Vechta</span>
            <nav class="social">
                <ul>
                    <li>
                        <a href="https://instagram.com/stoppelmap" target="_blank" rel="me noreferrer nofollow">
                            <picture>
                                <source srcset="https://stoppelmap.de/assets/instagram_white.svg" media="(prefers-color-scheme: dark)">
                                <img src="https://stoppelmap.de/assets/instagram.svg" alt="StoppelMap auf Instagram"/>
                            </picture>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/JGerdes/stoppelmap" target="_blank" rel="noreferrer nofollow">
                            <picture>
                                <source srcset="https://stoppelmap.de/assets/github_white.svg" media="(prefers-color-scheme: dark)">
                                <img src="https://stoppelmap.de/assets/github.svg" alt="StoppelMap auf GitHub"/>
                            </picture>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:contact@stoppelmap.de" target="_blank" rel="noreferrer nofollow">
                            <picture>
                                <source srcset="https://stoppelmap.de/assets/email_white.svg" media="(prefers-color-scheme: dark)">
                                <img src="https://stoppelmap.de/assets/email.svg" alt="E-Mail an das StoppelMap-Team"/>
                            </picture>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="centered">
                <h2>Uppsi 🫨</h2>
                <p>Dieser Link ist wohl etwas zu viel Achterbahn gefahren und funktioniert nicht ganz richtig. Schaue nochmal nach, ob Du dich nicht vielleicht vertippt hast.</p>
            </section>
            <section class="centered">
                <h2>Jetzt herunterladen</h2>
                <p>StoppelMap - die inoffizielle App für den Stoppelmarkt in Vechta! Jetzt installieren:</p>
                <a href="https://play.google.com/store/apps/details?id=com.jonasgerdes.stoppelmap">
                    <img src="https://stoppelmap.de/assets/google_play_badge_de.svg" class="download-badge" alt="Jetzt bei Google Play"/>
                </a>
                <a href="https://apps.apple.com/app/stoppelmap/id6504729693">
                    <img src="https://stoppelmap.de/assets/app_store_badge_de.svg" class="download-badge" alt="Laden im App Store"/>
                </a>
            </section>
            <section>
                <h2>Was ist StoppelMap?</h2>
                <p>StoppelMap bietet Dir unter anderem eine übersichtliche Karte des Stoppelmarktes. Zelte, Stände, Fahrgeschäfte und vieles weitere können bequem überblickt werden.</p>
                <p>Die praktische Suchfunktion findet Fahrgeschäfte, Festzelte, Parkplätze und mehr. Suche z.B. nach "Bier", "WC" oder "Amtmannsbult" und es werden Dir Ergebnisse im Umkreis auf der Karte angezeigt. So gelangst Du immer direkt zum Ziel!</p>
                <p><h3>Wie kommt man am schnellsten zum Markt?</h3> Ob mit Bus, Zug oder dem Taxi - StoppelMap hilft Dir, deine An- und Abreise zu planen. Finde eine Bushaltestelle in deiner Nähe und sehe alle Abfahrtszeiten. Auch eine Übersicht der Rückfahrten darf natürlich nicht fehlen.</p>
                <p><h3>Wann war nochmal das Feuerwerk? Wann beginnt der Markt?</h3> Die Programmübersicht bietet einen Überlick über alle Veranstaltungen, die Du Dir auch als Favorit markieren kannst: So verpasst Du nichts mehr!</p>
                <p><h3>Und das Beste:</h3> Alles funktioniert komplett offline! Das heißt: selbst wenn Du auf dem Gelände des Stoppelmarkts keinen mobilen Internetempfang hast, kannst Du trotzdem die Karte, die Suche, die Programmübersicht und die Busfahrpläne benutzen!</p>
            </section>
            <section>
                <h2>Features</h2>
                <ul>
                    <li>kostenlos und ohne Werbung</li>
                    <li>alle Fahrgeschäfte, Buden, Stände, Zelte auf einer Karte</li>
                    <li>umfangreiche Suchfunktion</li>
                    <li>Fahrpläne der Buslinien sowie der Zugverbindung</li>
                    <li>Programmübersicht</li>
                    <li>konfigurierbare Countdown-Widgets</li>
                    <li>offline nutzbar</li>
                    <li>Dark-/Nacht-Modus</li>
                    <li>auf Android 12 und neuer passt sich die App den Farben des Systems an</li>
                </ul>
            </section>
            <section>
                <h2>Fragen & Antworten</h2>
                <cite>Wieso wird mein Smartphone nicht unterstützt?</cite>
                <p>Zur Nutzung der App wird mindestens Android Oreo (Android 8) bzw iOS 16.0 benötigt.</p>

                <cite>Wieso ist Stand XY nicht auf der Karte? / Ich habe einen Fehler gefunden!</cite>
                <p>Es kann gut sein, dass ich etwas vergessen oder übersehen habe. Anregungen oder Hinweise zu Fehlern nehme ich gerne unter stoppelmap@jonasgerdes.com entgegen!</p>
            </section>
            <section>
                <h2>Disclaimer</h2>
                <p>StoppelMap ist eine inoffizielle App für den Stoppelmarkt.</p> 
                <p>Alle Angaben sind ohne Gewähr, es wird keine Garantie für die Richtig- und Vollständigkeit der dargestellten Informationen gegeben und keine Haftung für eventuell verursachte Schäden übernommen.</p>
            </section>
        </main>
        <footer>
            <nav>
                <ul>
                    <li><a href="https://stoppelmap.de/privacy-policy.html#de">Datenschutzerklärung</a></li>
                    <li><a href="https://stoppelmap.de/impressum.html">Impressum</a></li>
                    <li><a href="mailto:contact@stoppelmap.de">Kontakt</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
