<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<array>
		<string></string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>RobotoSlab-Bold.ttf</string>
		<string>RobotoSlab-Light.ttf</string>
		<string>RobotoSlab-Regular.ttf</string>
		<string>RobotoSlab-Thin.ttf</string>
	</array>
</dict>
</plist>
