Seit 119 Jahren ist die Familie Surmann mit dem Zelt auf dem Stoppelmarkt vertreten.<br><br>Beliebter Treffpunkt für Jung und Alt.<br> <br> <br> Öffnungszeiten:<br> Donnerstag: 18.00 Uhr<br> Freitag: 14.00 Uhr<br> Samstag 14.00 Uhr<br> Sonntag: 10.00 Uhr<br> Montag: 08.00 Uhr<br> Dienstag: 14.00 Uhr