für Szene &amp; Luder<br> <br> Öffnungszeiten in Anlehnung an die Marktzeiten<br> Donnerstag ab 18:00 Uhr<br> Freitag ab 13:00 Uhr<br> Samstag ab 13:00 Uhr<br> Sonntag ab 10:00 Uhr<br> Montag ab 07:00 Uhr<br> Dienstag ab 13:00 Uhr