muss man erleben - Treffpunkt für jung &amp; alt - lauter nette Gäste - Schnacken &amp; Klönen - einfach nur Spaß haben!<br><br><br> ÖFFNUNGSZEITEN<br> Donnerstag: 18:00 Uhr<br> Freitag: 13:00 Uhr<br> Samstag: 13:00 Uhr<br> Sonntag: 11:00 Uhr<br> Montag: 08:00 Uhr<br> Dienstag: 13:00 Uhr<br>