<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonasgerdes.stoppelmap.countdown">

    <application>
        <activity
            android:name=".widget.heart.GingerbreadWidgetSettingsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.jonasgerdes.stoppelmap.widget.heart.GingerbreadHeartWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/gingerbread_heart_widget_provider" />
        </receiver>

        <activity
            android:name=".widget.skyline.SkylineWidgetSettingsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.jonasgerdes.stoppelmap.widget.silhouette.SilhouetteWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/skyline_widget_provider" />
        </receiver>

        <receiver
            android:name="com.jonasgerdes.stoppelmap.widget.countdown.CountdownWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_countdown_name">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_info" />
        </receiver>

    </application>

</manifest>
